.section-title__title {
  max-width: 600px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.72px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
  .section-title__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }
}