.search-form {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px 70px 0;
  box-sizing: border-box;
}

.search-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #424242;
}

.search-form__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #2F2F2F;
}

.search-form__input {
  max-width: 1050px;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 7px 15px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: transparent;
}

.search-form__input:focus {
  border: 1px solid rgb(61, 220, 132, .5);
  outline: none;
}

.search-form__button {
  width: 34px;
  height: 34px;
  border: none;
  background: #4285F4 url('../../images/find.svg') no-repeat center;
  border-radius: 17px;
}

.search-form__error {
  margin: 10px 0 0 15px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #EE3465;
  align-self: flex-start;
}

@media screen and (max-width: 1279px) {
  .search-form {
    padding: 80px 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    padding-right: 14px;
    padding-left: 14px;
  }
}