.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 81px 70px 21px;
  box-sizing: border-box;
}

.footer__title {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 21px;
  text-align: center;
  color: #8B8B8B;
  border-bottom: 1px solid #424242;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 0;
}

.footer__copyright {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
}

.footer__links {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-right: 14px;
    padding-left: 14px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 80px 10px 20px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 14px;
  }

  .footer__info {
    flex-direction: column;
    gap: 30px;
    padding: 26px 0 0;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #8B8B8B;
    order: 2;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    order: 1;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}